*{
    margin: 0;
    padding: 0;
    font-family: 'Silkscreen', cursive;
}
body{
    background-image: url(images/VIDEOOSAOSOS.jpg);
    
    background-size: cover;
    position: relative;
}
.container{
    width: 80%;
    margin: 80px auto;
}
.container h1{
    padding: 60px 0;
    color: blanchedalmond;
    font-size: 44px;
    text-align: center;
}
.container p{
    padding: 23px 0;
    color: blanchedalmond;
    font-size: 20px;
    text-align: center;
}
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.col{
    flex-basis: 50%;
    min-width: 250px;
}
.featureimg{
    width: 83%;
    margin: auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}
.smolimgrw{
    display: flex ;
    background: #efefef;
    margin: 20px 0;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    width: 85%;
}

.home{
    width: 20%;
    padding: 5px 10px;
    cursor: pointer;
    display: block;
    
    background: linear-gradient(to right, #524f88, #9b438e);
    border: 0;
    outline: none;
    border-radius: 30px;
    

}
.button{
    padding: 5px 55px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    font-family: Silkscreen, cursive;
    
    

}
.sussybaka{
    color: black;
  
}